/*
 *  Vincent Lannurien
 * <vincent@zbeul.org>
 *
 * CSS overrides for Bootstrap
 *
 * GNU GPL License Version 3
 *
 */


/* Header
-------------------------------------------------- */
nav.navbar-dark {
	opacity: 0.75 !important;
	filter: alpha(opacity=75); /* For IE8 and earlier */
}

nav a {
	-webkit-transition: color 500ms ease-out;
	-moz-transition: color 500ms ease-out;
	-o-transition: color 500ms ease-out;
	transition: color 500ms ease-out;
}

nav a:hover {
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease;
}

/* Sticky footer
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 5rem;
	font-family: "Playfair Display", serif !important;
	background: url('/css/img/background.jpg') #fff repeat fixed !important;
	background-size: auto;
}

main {
	margin-top: 1em;
	padding-top: 1em;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	line-height: 4rem; /* Vertically center the text there */
	background-color: #f5f5f5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.footer img/*, .footer small*/ {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	-o-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}

.footer img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	-o-transition: opacity 500ms ease;
	transition: opacity 500ms ease;
}

/* Cards
-------------------------------------------------- */
.card-deck {
	margin: auto !important;
}

div.card {
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 3px 6px 0 rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border: none !important;
	border-radius: 0 !important;
}

div.card:hover {
	box-shadow: 0 14px 28px 0 rgba(0,0,0,0.25), 0 10px 10px 0 rgba(0,0,0,0.22);
}

/* Make whole cards clickable */
div.card>a:first-child {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/* Crop too large content according to card padding */
div.card-text {
	overflow: hidden;
}

img.card-img-top {
}

/* Titles and text
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-family: "Anton", sans-serif !important;
	font-size: 125%;
}

/* Editor
-------------------------------------------------- */
div.editor-toolbar {
	opacity: 0.75 !important;
	filter: alpha(opacity=75); /* For IE8 and earlier */
	background-color: #fff;
}

div.editor-toolbar:hover {
	opacity: 0.90 !important;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}

/* Markdown output
-------------------------------------------------- */
pre {
	margin: 1rem 2rem 1rem 2rem;
	color: #e83e8c;
}
